p {
   margin: 0;
}

ul {
   list-style-type: none;
}

.main-container {
    display: flex;
    flex-direction: column;
 }
 
 .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: rgba(62, 60, 65, 1);
 }
 
 .navbar__link {
    position: relative;
    list-style: none;
    color: white;
 }
 
 .navbar__link_number {
    position: absolute;
    left: -30px;
    top: -10px;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    padding-inline: 12px;
    padding-block: 7px;
 }
 
 .navbar__link a {
    display: block;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 100%;
    color: white;
    margin-left: 25px;
    height: 100%;
    max-height: 3vh;
    text-decoration: none;
 }

  .main-page {
   width: 100%;
   display: flex;
   /* justify-content: space-between; */
   margin: 95px calc((250 / 1920) * 100%) 0px;
   max-width: 1400px;
 }

 .widget {
   max-width: 360px;
   height: 1525px;
   margin-right: 5%;
   background-color: rgba(62, 60, 65, 1);
 }
 
 .widget__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 40px auto 0 auto;
    padding-bottom: 40px;
    border-bottom: 2px solid white;
 }
 
 .input__container {
    display: flex;
    flex-direction: column;
    justify-items: start;
    margin-inline: 30px;
 }
 
 .input__label {
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    color: white;
    margin-bottom: 5px;
 }
 
 .input {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    height: 45px;
    padding: 5px;
 }
 
 .widget__options {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0 auto;
    border-bottom: 2px solid white;
 }
 
 .widget__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
 }
 
 .widget__option-icon {
    width: 15px;
    height: 15px;
    margin-left: 65px;
    margin-right: 35px;
 }
 
 .widget__option-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    margin-right: auto;
 }
 
 .toggle__label {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 19px;
    background-color: white;
    border-radius: 14px;
    margin-right: 35px;
    cursor: pointer;
    transition: background-color 0.5s;
 }
 
 .toggle__label::after {
    content: '';
    width: 28px;
    height: 28px;
    background-color: rgba(196, 196, 196, 1);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    transition: transform 0.5s;
 }
 
 .toggle__input:checked + .toggle__label {
    background-color: rgba(252, 220, 157, 1);
 }
 
 .toggle__input:checked + .toggle__label::after {
    transform: translateX(44px);
    background-color: rgba(255, 168, 0, 1);
 }
 
 .widget__price {
    margin-top: 35px;
    padding: 0 30px 0;
    border-bottom: 2px solid white;
 }
 
 .widget__price-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
 }
 
 .widget__price-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    color: white;
 }
 
 .widget__slider {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin: 20px 0 5px 0;
    color: white;
 }
 
.widget__rangeslider {
   display: flex;
}

 .input-ranges {
    width: 295px;
    height: 19px;
 }
 
 .input-ranges,
 .input-ranges::-webkit-slider-runnable-track,
 .input-ranges::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
 }
 
 .input-ranges::-webkit-slider-runnable-track  {
    width: 295px;
    height: 20px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 20px;
 }
 
 .input-ranges::-webkit-slider-thumb
 {
    height: 28px;
    width: 28px;
    margin-top: -5px;
    background: #fff;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
 }
 
 .value-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 30px;
 }
 
 .min-value,
 .max-value {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: white;
 }

 .widget__there,
 .widget__back {
   margin-top: 25px;
   padding: 0 30px 0;
   border-bottom: 2px solid white;
 }

 .widget__back {
   border-bottom: none;
 }

 .widget__there-header,
 .widget__back-header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
 }

 .widget__there-title,
 .widget__back-title {
   font-size: 30px;
   font-weight: 700;
   color: #fff;
   flex: 1;
   margin-left: 10px;
 }

 .widget__there-content,
 .widget__back-content {
   margin-bottom: 30px;
 }

 .input-ranges__time,
 .input-ranges__time::-webkit-slider-runnable-track,
 .input-ranges__time::-webkit-slider-thumb
 {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
 }
 
 .input-ranges__time::-webkit-slider-runnable-track
  {
    width: 295px;
    height: 10px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 20px;
 }
 
 .input-ranges__time::-webkit-slider-thumb
 {
    height: 18px;
    width: 18px;
    margin-top: -5px;
    background: #fff;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
 }

 .widget__departure-time,
 .widget__arrival-time {
   display: flex;
   flex-direction: column;
 }

 .departure-time__title,
 .arrival-time__title {
   font-size: 24px;
   font-weight: 400;
   color: #fff;
   text-align: start;
 }
 
.arrival-time__title {
   text-align: end;
}

.pages {
   width: 520px;
   align-self: flex-end;
   margin-bottom: 190px;
}

 .pages__list {
   display: flex;
   justify-content: space-between;
 }

 .pages__item {
   width: 85px;
   height: 75px;
   border: 2px solid #C4C4C4;
   border-radius: 5px;
   font-size: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #928F94;
 }

 .pages__item:active {
   background-color: #FFA800;
   color: #FFFFFF;
 } 

 .active-page {
   border-radius: 5px;
   font-size: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 85px;
   height: 75px;
   background-color: #FFA800;
   color: #FFFFFF;
 }

 .pages__item:hover {
   border: 2px solid #FFA800;
   color: FFA800;
 }

 .seats {
   display: flex;
   flex-direction: column;
   max-width: 960px;
 }

 .seats__header {
   font-size: 30px;
   font-weight: 500;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 48px;
 }

 .seats__option,
 .seats__option-back {
   display: flex;
   flex-direction: column;
   width: 100%;
   border: 1px solid #C4C4C4;
   margin-bottom: 29px;
 }

 .seats__option-header,
 .seats__option-header-back {
   display: flex;
   margin: 35px 24px 30px 19px;
 }

 .seats__option-header-back {
  align-self: flex-end;

 }

 .back-to-trains__btn {
  width: 325px;
  height: 60px;
  border: 1px solid #292929;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #292929;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
 }

 .back-to-trains_btn:hover {
   background-color: #FFA800;
   cursor: pointer;
   transition: all 0.3s;
 }

 .train__info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #F7F6F6;
   padding: 15px 35px;
   width: 100%;
 }

 .train__info-train {
   display: flex;
   flex-direction: column;
 }

 .train__logo {
   max-width: 30px;
   max-height: 30px;
   margin-right: 25px;
 }

 .arrow {
   margin: 0 5px;
 }


 .train__number {
   font-size: 24px;
   font-weight: 500;
 }

 .train__route {
   font-size: 16px;
   font-weight: 400;
 }

 .train__info-stations {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* min-width: 50%; */
   /* flex: 1; */
 }
/* 
 .train__from,
 .train__to {
   display: flex;
   flex-direction: column;
 } */

 .departure-time {
   font-size: 24px;
   font-weight: 700;
 }

 .departure-city {
   font-size: 18px;
   font-weight: 400;
   word-break:initial ;

 }

 .departure-station,
 .time {
   font-size: 16px;
   font-weight: 400;
   color: #C4C4C4;
}

 .time {
   color: #000000;

 }

 .travel-time__arrow,
 .travel-time__arrow-reverse {
   max-width: 30px;
   max-height: 20px;
   margin-right: 50px
 }

.travel-time__arrow-reverse {
  rotate: 180deg;
}

 .clock__logo {
   max-width: 30px;
   max-height: 30px;
   margin-left: 70px;
   margin-right: 10px;
 }

 .travel-time {
   display: flex;
   min-width: 25%;
 }

 .tickets {
   max-width: 100%;
   margin-bottom: 49px;
 }

 .tickets__title {
   font-size: 30px;
   font-weight: 700;
   margin: 40px 0 13px 19px;
 }

 .tickets__types {
   display: flex;
   justify-content: space-between;
 }

 .ticket {
   width: 33%;
   font-size: 16px;
   font-weight: 400;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 20px 40px 19px 35px; 
   background-color: #F7F6F6;
 }

.ticket-active {
  width: 33%;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px 19px 35px; 
  border: 1px solid #FFA800C9;
  background-color: none;
} 

 .quantity {
   width: 240px;
   height: 50px;
   margin-bottom: 23px;
   border: 1px solid #928F94;
   border-radius: 5px;
   padding-left: 17px;
 }

 .wagon {
  max-width: 100%;
  margin-bottom: 49px;
  border-top: 1px solid #C4C4C4;
}

.wagon__title {
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0 25px 19px;
}

.wagon__types {
  display: flex;
  justify-content: space-between;
  margin: 0 119px 26px 35px;
}

.type {
  display: flex;
  flex-direction: column;
}

.type__name {
  font-size: 24px;
  color: #928F94;
}

.type__logo-sit,
.type__logo-plats,
.type__logo-coupe,
.type__logo-lux {
  max-height: 50px;
}

.type__logo-sit {
  max-width: 31px;
}

.type__logo-plats,
.type__logo-coupe {
  max-width: 50;
}

.type__logo-lux {
  max-width: 57px;
}

.wagon__info {
  height:37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFA80070;
  padding-right: 11px;
}

.current,
.all {
  font-size: 24px;
  font-weight: 700;
}

.current {
  color: #fff;
}

.all {
  color:#000000
}

.number {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 190px;
}

.selected-wagon {
  display: flex;
}

.selected-wagon__title {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 190px;
  max-height: 160px;
  background-color: #FFD98F;
  align-items: center;
  padding: 30px 0
}

.selected-wagon__number {
  font-size: 72px;
  font-weight: 700;
  color: #292929;
}

.selected-wagon__text {
  font-size: 24px;
  color: #292929;
  text-transform: uppercase;
}

.wagon-seats {
  display: flex;  
  width: calc(100% - 190px);
  justify-content: space-around;
  margin-top: 30px;
}

.number-of-seats__container,
.price__container,
.additional-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number-of-seats,
.amount,
.price,
.service {
  font-size: 18px;
  font-weight: 400;
  color: #928F94;
}

.amount {
  color: #000000;
}

.top,
.bottom {
  font-size: 24px;
  font-weight: 400;
}

.top-amount,
.bottom-amount {
  font-weight: 700;
}

.top-price,
.bottom-price {
  font-size: 24px;
  font-weight: 700;
  color: #2D2B2F;
}

.currency-icon {
  max-width: 14px;
  max-height: 17px;
}

.facilities {
  display: flex;
  gap: 13px;
}

.another-orders {
  width: 199px;
  height: 72px;
  background-color: #F3F3F3;
  justify-self: end;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  border-radius: 5px;
}

.wagon-img {
  margin-left: 20px;
}

.to-form {
  align-self: flex-end;
  margin: 100px 0 120px;
}

.to-form__btn {
  width: 222px;
  height: 60px;
  background-color: #FFA800;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 13px 9px;
  justify-self: end;
}

.to-form__btn:hover {
  box-shadow: 0 4px 4px #00000040;
  transition: all 0.1s;
  cursor: pointer;
}

