p {
   margin: 0;
}

ul {
   list-style-type: none;
}

.main-container {
    display: flex;
    flex-direction: column;
 }
 
 .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: rgba(62, 60, 65, 1);
 }
 
 .navbar__link {
    position: relative;
    list-style: none;
    color: white;
 }
 
 .navbar__link_number {
    position: absolute;
    left: -30px;
    top: -10px;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    padding-inline: 12px;
    padding-block: 7px;
 }
 
 .navbar__link a {
    display: block;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 100%;
    color: white;
    margin-left: 25px;
    height: 100%;
    max-height: 3vh;
    text-decoration: none;
 }

  .main-page {
   width: 100%;
   display: flex;
   /* justify-content: space-between; */
   margin: 95px calc((250 / 1920) * 100%) 0px;
   max-width: 1400px;
 }

 .widget {
   max-width: 360px;
   max-height: 1279px;
   margin-right: 5%;
   margin-bottom: 142px;
   background-color: rgba(62, 60, 65, 1);
 } 

 .widget__header {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #E5E5E5;
  margin: 35px 44px 30px 43px;
 }

 .widget__there,
 .widget__back,
 .widget__passengers {
   margin-top: 25px;
   padding: 0 30px 0;
   border-bottom: 1px solid #E5E5E5;
 }

 .widget__back {
   border-bottom: none;
 }

 .widget__there-header,
 .widget__back-header,
 .widget__passengers-header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
   margin-top: 15px;
   align-items: center;
 }

 .widget__there-title,
 .widget__back-title,
 .widget__total-text {
   font-size: 30px;
   font-weight: 700;
   color: #fff;
   margin-left: 10px;
 }

 .widget__there-date {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
 }

 .widget__shrink {
  max-width: 20px;
  max-height: 20px;
 }

.train__number,
.train__route,
.train__time,
.train__stations,
.adult-tickets,
.child-tickets {
  display: flex;
  color: #E5E5E5;
  justify-content: space-between;
  align-items: center;
}

.train__number,
.adult-tickets {
  margin-bottom: 20px;
}

.train__route {
  margin-bottom: 46px;
}

.train__time {
  margin-bottom: 17px;
}

.number-text,
.route-text,
.date,
.station,
.city,
.adult-tickets__text,
.child-tickets__text {
  font-size: 18px;
  font-weight: 400;
}

.number,
.time,
.adult-tickets__price,
.child-tickets__price {
  font-size: 24px;
  font-weight: 500;
  justify-self: end;
}

.travel-time {
  display: flex;
  flex-direction: column;
}

.travel-time__arrow,
.travel-time__arrow-reverse {
  max-width: 30px;
  max-height: 20px;
}

.route {
  font-size: 16px;
  font-weight: 700;
  justify-self: end;
  text-align: end;
}

.departure,
.arrival {
  display: flex;
  flex-direction: column;
}

.train__stations {
  margin-bottom: 50px;
}

.date,
.station {
  color: #928F94;
}

.widget__last-tickets_header{
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 48px;
}

.child-tickets {
  margin-bottom: 46px;
}

.currency-icon {
  max-width: 14px;
  max-height: 17px;
  margin-left: 5px;
}

.widget__total-text {
  text-transform: uppercase ;
 }

 .widget__total-value {
  font-size: 48px;
  font-weight: 700;
  color: #FFA800;
 }

.widget__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 33px;
  margin-top: 46px;
}
 
.passengers {
  display: flex;
  flex-direction: column;
  width: 958px;
}

.passenger {
  border: 1px solid #C4C4C4;
}

.passenger__header,
.payment__header {
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  font-size: 30px;
  font-weight: 400;
  padding-left: 23px;
  padding-right: 40px;
  background-color: #F9F9F9;
}

.payment__header {
  border-top: 1px dashed #928F94;
  border-bottom: 1px dashed #928F94;;
}

.passenger__header-title {
  margin-left: 16px;
}

.passenger__form {
  display: flex;
  flex-direction: column;
}

.passenger__bio::before {
  content: "";
  display: block;
  border-bottom: 1px dashed #928F94;
  width: 100%;
  margin-bottom: 37px;
}

.fio,
.contact-info {
  display: flex;
  justify-items: start;
  gap: 25px;
  padding-left: 35px;
}

.contact-info {
  flex-direction: column;
  gap: 38px;
}

.input__container {
  display: flex;
  flex-direction: column;
}

.bio__input,
.phone__input,
.email__input {
  max-width: 444px;
  height: 50px;
  font-size: 24px;
  font-weight: 400;
  border: 1px solid #928F94;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 45px;
  margin-top: 8px;
}

.phone__input,
.email__input {
  max-width: 360px;
  height: 50px;
}

.phone__input {
  margin-bottom: 0;
}

.payment__header {
  border-top: 1px dashed #928F94;
  border-bottom: 1px dashed #928F94;
}


.buy {
  align-self: flex-end;
  margin: 116px 0 0;
}

.buy__btn {
  width: 323px;
  height: 60px;
  background-color: #FFA800;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 13px 9px;
  justify-self: end;
}

.buy__btn:hover {
  box-shadow: 0 4px 4px #00000040;
  transition: all 0.1s;
  cursor: pointer;
}

.online-payment {
  display: flex;
  align-items: center;
  margin: 50px 0 30px 35px;
}

.payment-checkbox {
  margin-right: 20px;
  width: 28px;
  height: 28px;
  appearance: none;
  position: relative;
  border-radius: 5px;
  border: 1px solid #928F94;
  transition: 500ms;
}

.payment-checkbox::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  font-size: 30px;
  background-image: url('../../../public/icons/payment__checkbox.svg');
  background-repeat: no-repeat;
}

.payment-checkbox:checked::after {
  width: 28px;
  height: 28px;
  transition: 300ms;
}

.payment-checkbox__label {
  font-size: 24px;
  font-weight: 400;
  color: #928F94;
}

.payment__list {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: calc((292/950)*100%);
  border-bottom: 1px dashed #928F94;
  padding-bottom: 64px;
}

.cash-payment {
  display: flex;
  align-items: center;
  margin: 50px 0 50px 35px;
}