.main-container {
    display: flex;
    flex-direction: column;
 }
 
 .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: rgba(62, 60, 65, 1);
 }
 
 .navbar__link {
    position: relative;
    list-style: none;
    color: white;
 }
 
 .navbar__link_number {
    position: absolute;
    left: -30px;
    top: -10px;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    padding-inline: 12px;
    padding-block: 7px;
 }
 
 .navbar__link a {
    display: block;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 100%;
    color: white;
    margin-left: 25px;
    height: 100%;
    max-height: 3vh;
    text-decoration: none;
 }
 
 .widget {
    width: 360px;
    height: 1525px;
    background-color: rgba(62, 60, 65, 1);
    margin-top: 95px;
    margin-left: 260px;
 }
 
 .widget__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 40px auto 0 auto;
    padding-bottom: 40px;
    border-bottom: 2px solid white;
 }
 
 .input__container {
    display: flex;
    flex-direction: column;
    justify-items: start;
    margin-inline: 30px;
 }
 
 .input__label {
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    color: white;
    margin-bottom: 5px;
 }
 
 .input {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    height: 45px;
    padding: 5px;
 }
 
 .widget__options {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0 auto;
    border-bottom: 2px solid white;
 }
 
 .widget__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
 }
 
 .widget__option-icon {
    width: 20px;
    height: 20px;
    margin: 0 35px;
 }
 
 .widget__option-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    margin-right: auto;
 }
 
 .toggle__label {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 19px;
    background-color: white;
    border-radius: 14px;
    margin-right: 35px;
    cursor: pointer;
    transition: background-color 0.5s;
 }
 
 .toggle__label::after {
    content: '';
    width: 28px;
    height: 28px;
    background-color: rgba(196, 196, 196, 1);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    transition: transform 0.5s;
 }
 
 .toggle__input:checked + .toggle__label {
    background-color: rgba(252, 220, 157, 1);
 }
 
 .toggle__input:checked + .toggle__label::after {
    transform: translateX(44px);
    background-color: rgba(255, 168, 0, 1);
 }
 
 .widget__price {
    margin-top: 35px;
    padding-bottom: 35px;
    border-bottom: 2px solid white;
 }
 
 .widget__price-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
 }
 
 .widget__price-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    color: white;
 }
 
 .widget__slider {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin: 20px 0 5px 0;
    color: white;
 }
 
 .input-ranges {
    position: absolute;
    width: 295px;
    height: 30px;
 }
 
 .input-ranges,
 .input-ranges::-webkit-slider-runnable-track,
 .input-ranges::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
 }
 
 .input-ranges::-webkit-slider-runnable-track {
    width: 295px;
    height: 20px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 20px;
 }
 
 .input-ranges::-webkit-slider-thumb {
    position: relative;
    height: 28px;
    width: 28px;
    margin-top: -5px;
    background: #fff;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
 }
 
 .value-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
 }
 
 .min-value,
 .max-value {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: white;
 }